<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>		<rewrite>
			<rules>
				<rule name="301-1" stopProcessing="true">
					<match url="(.*)" />
 					<conditions logicalGrouping="MatchAny">
 						<add input="{HTTP_HOST}" pattern="^beacelee\.com$" />
 					</conditions>
 					<action type="Redirect" url="http://lishimin.w269-e1.ezwebtest.com/{R:0}" redirectType="Permanent" />
				</rule>
				<rule name="301-2" stopProcessing="true">
					<match url="(.*)" />
 					<conditions logicalGrouping="MatchAny">
 						<add input="{HTTP_HOST}" pattern="^www\.beacelee\.com$" />
 					</conditions>
 					<action type="Redirect" url="http://lishimin.w269-e1.ezwebtest.com/{R:0}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
</system.webServer></configuration>
